* {
    margin: 0;
    padding: 0;
}

:focus{
    outline: 5px dotted var(--yellow);
    outline-offset: 5px;
}

::selection{
    background-color: var(--yellow);
    color: var(--bgColor);
}

:root {
    /* bg colors */
    --bgColor: #333;
    --bgLightColor: #222;

    /* shadows */
    --shadow: #0ff;

    /* text colors */
    --lightColor: #fff;
    --yellow: #f9ca24;
    --yellowGreen: #9acd32;
}

html{
    scroll-behavior: smooth;
}

body {
    background: var(--bgColor);
    font-family: 'Roboto', 'Poppins', sans-serif;
    text-transform: uppercase;
}

.container{
    width: 100%;
    max-width: 1240px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
}



/* ring start */

.ring {
    width: 250px;
    height: 250px;
    position: absolute;
    top: 50%;
    left: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    letter-spacing: 2px;
    color: var(--yellow);
    background: transparent;
    border: 3px solid var(--yellow);
    border-radius: 50%;
    cursor: pointer;
    transform: translate(-50%, -50%);
    text-shadow: 0 0 10px var(--yellow);
    box-shadow: 0 0 10px var(--yellow);
}

.ring::before {
    content: '';
    position: absolute;
    top: -3px;
    left: -3px;
    width: 100%;
    height: 100%;
    border: 3px solidtransparant;
    border-top: 3px solid var(--yellowGreen);
    border-right: 3px solid var(--yellowGreen);
    border-radius: 50%;
    animation: animateCircle 3s linear infinite;
}

.circle {
    display: block;
    position: absolute;
    top: calc(50% - 2px);
    left: 50%;
    width: 50%;
    height: 4px;
    background: transparent;
    transform-origin: left;
    animation: animate 3s linear infinite;
}

.circle::before {
    content: '';
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: var(--yellowGreen);
    top: -6px;
    right: -9px;
    box-shadow: 0 0 20px var(--yellowGreen);
}

/* ring end */



/* footer start */

.footer{
    width: 100%;
    position: fixed;
    padding-top: 5px;
    padding-bottom: 3px;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--bgLightColor);
    text-align: center;
}

.footer__container{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.footer__title{
    font-weight: 400;
    font-size: 20px;
}

.footer__content{
    color: var(--yellow);
    text-transform: none;
    text-decoration: none;
}

/* footer end */



/* @keyframes start */

@keyframes animateCircle {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes animate {
    0% {
        transform: rotate(45deg);
    }

    100% {
        transform: rotate(405deg);
    }
}

/* @keyframes end */